<script src="/js/controllers/customerController.js"></script>
    <!-- NAV BAR -->
<div class="container-fluid">
     <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code Day</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
             <li class="{{activeUsers}}"><a href="/users">Users</a></li>
            <li class="{{activeCustomers}}"><a href="/customers">Customers</a></li>
            <li class="{{activeProjects}}"><a href="/projects">Projects</a></li>
             <li class="{{activeTasks}}"><a href="/tasks">Tasks</a></li>
            <li class="{{activeEntries}}"><a href="/taskentries">TaskEntries</a></li>
           <!--  <li>
              <a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse4" aria-expanded="false" aria-controls="nav-collapse4">Profile <i class=""></i> </a>
            </li> -->
          </ul>
         <!--  <ul class="collapse nav navbar-nav nav-collapse slide-down" role="search" id="nav-collapse4">
            <li><a href="#">Support</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://pbs.twimg.com/profile_images/588909533428322304/Gxuyp46N.jpg" alt="maridlcrmn" width="20" /> Maridlcrmn <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">My profile</a></li>
                <li><a href="#">Favorited</a></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
</div>
    <!-- END OF NAV BAR -->
<div class="container">
    <!-- Customer DETAILS TABLE -->
    <div class="row">
        <div class="col-md-12">
            <h4>Customer Table Details</h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-striped">
                    <thead>
                        <th>Id</th>
                        <th>Company</th>
                        <th>Address</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Zip</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        {{#each valuesss}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.company}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.state}}</td>
                            <td>{{this.city}}</td>
                            <td>{{this.zip}}</td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button class="open-EditCustomer btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#editCustomer"
                                    data-id="{{this.id}}"
                                    data-company="{{this.company}}"
                                    data-address="{{this.address}}"
                                    data-state="{{this.state}}"
                                    data-city="{{this.city}}"
                                    data-zip="{{this.zip}}"
                                    ><span class="glyphicon glyphicon-pencil"></span></button>
                                </p>
                            </td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                    <button class="open-deleteCustomer btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" 
                                    data-id="{{this.id}}"
                                    data-target="#deleteCustomer"><span class="glyphicon glyphicon-trash"></span></button>
                                </p>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a id="add_row" class="btn btn-default pull-left " href="/addcustomer">Add Customer</a>
</div>
<div class="modal fade" id="editCustomer" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" id='company' type="text" placeholder="Company" value="">
                </div>
                <div class="form-group">
                    <input class="form-control" id='address' type="text" placeholder="Address" value="">
                </div>
                <div class="form-group">
                    <input class="form-control" id='state' type="text" placeholder="State" value="">
                </div>
                <div class="form-group">
                    <input class="form-control" id='city' type="text" placeholder="City" value="">
                </div>
                <div class="form-group">
                    <input class="form-control " id="zip" type="text" placeholder="Zip" value="">
                </div>
                  <div class="form-group" style="display:none;">
                    <input class="form-control " id="id" type="text" placeholder="id" value="">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="submitUpdate btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="deleteCustomer" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Customer?</div>
                 <div class="form-group" style="display:none;">
                    <input class="form-control " id="id" type="text" placeholder="id" value="">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="deleteCustomer btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>