<!-- <table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">resutls.password</th>
            <th scope="col">results.email</th>
        </tr>
    </thead>
    <tbody>
        {{#each results}}
        <tr>
            <th scope="row">1</th>
            <td>{{results.id}}</td>
            <td>{{results.username}}</td>
            <td>{{results.password}}</td>
            <td>{{results.email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{#each valuesss}}
     <p>{{@index}}. {{valuess.password}}</p>
{{/each}} -->