<script src="/js/controllers/projectController.js"></script>
{{#if successMessage}}
    <div class="alert alert-success"><strong>Success!</strong> {{successMessage}}</div>
{{/if}}

{{#if errorMessage}}
   <div class="alert alert-danger"><strong>Oops!</strong> {{errorMessage}}</div>
{{/if}}
    <!-- NAV BAR -->
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand {{activedash}}" href="/dashboard">Code Day</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-4">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{activeUsers}}"><a href="/users">Users</a></li>
                    <li class="{{activeCustomers}}"><a href="/customers">Customers</a></li>
                    <li class="{{activeProjects}}"><a href="/projects">Projects</a></li>
                    <li class="{{activeTasks}}"><a href="/tasks">Tasks</a></li>
                    <li class="{{activeEntries}}"><a href="/taskentries">TaskEntries</a></li>
                    <li class="{{activeTime}}"><a href="/timetracker">Time Tracker</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <!-- END OF NAV BAR -->
<div class="container">
    <!-- PROJECTS DETAILS TABLE -->
    <div class="row">
        <div class="col-md-12">
            <h4>PROJECTS Table Details</h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-striped">
                    <thead>
                        <th>Id</th>
                        <th>Project Name</th>
                        <th>Customer Id</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        {{#each valuesss}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.project_name}}</td>
                            <td>{{this.customer_id}}</td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button class="open-EditProject btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#editProject"
                                    data-id="{{this.id}}"
                                    data-project_name="{{this.project_name}}"
                                    data-customer_id="{{this.customer_id}}"
                                    ><span class="glyphicon glyphicon-pencil"></span></button>
                                </p>
                            </td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                    <button class="open-deleteProject btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" 
                                    data-id="{{this.id}}"
                                    data-target="#deleteProject"><span class="glyphicon glyphicon-trash"></span></button>
                                </p>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a id="add_row" class="btn btn-default pull-left " href='/addproject'>Add Project</a>
</div>
<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" id='project_name' type="text" placeholder="Project Name" value="">
                </div>
                <div class="form-group">
                    <input class="form-control" id='customer_id' type="text" placeholder="Customer Id" value="">
                </div>
                <div class="form-group" style="display:none;">
                    <input class="form-control " id="id" type="text" placeholder="id" value="">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="submitUpdate btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Project?</div>
                 <div class="form-group" style="display:none;">
                    <input class="form-control " id="id" type="text" placeholder="id" value="">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="deleteProject btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>