<script src="/js/controllers/timeTrackerController.js"></script>
{{#if successMessage}}
    <div class="alert alert-success"><strong>Success!</strong> {{successMessage}}</div>
{{/if}}

{{#if errorMessage}}
   <div class="alert alert-danger"><strong>Oops!</strong> {{errorMessage}}</div>
{{/if}}
    <!-- NAV BAR -->
<div class="container-fluid">
     <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand {{activedash}}" href="/dashboard">Code Day</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
             <li class="{{activeUsers}}"><a href="/users">Users</a></li>
            <li class="{{activeCustomers}}"><a href="/customers">Customers</a></li>
            <li class="{{activeProjects}}"><a href="/projects">Projects</a></li>
             <li class="{{activeTasks}}"><a href="/tasks">Tasks</a></li>
            <li class="{{activeEntries}}"><a href="/taskentries">TaskEntries</a></li>
            <li class="{{activeTime}}"><a href="/timetracker">Time Tracker</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
<!-- END OF NAV BAR -->
<div class="container">
  <p> Time tracker </p>
<!-- 
  {{#each valuesss}}
      <p>TASK ENTRY ID<span>{{this.id}}</span></p>
      <p>TASK ID<span>{{this.task_id}}</span></p>
      <p>Project ID<span>{{this.project_id}}</span></p>
      <p>User ID<span>{{this.user_id}}</span></p>
      <p>Task Name <span>{{this.task_name}}</span></p>
      <p>Duration<span>{{this.duration}}</span></p>
      <p>Note<span>{{this.note}}</span></p>
      <p>Start Time<span>{{this.start_time}}</span></p>
  {{/each}} -->
 <div class="form-group">
  <label >Project Id</label>
     <select class="" id="project_id" name="project_id" onchange="report(this.value)">
       <option disabled selected value> -- select an option -- </option>
        {{#each project_ids}}
           <option>{{this.id}}</option>
        {{/each}}
    </select>
  </div>

   <div class="row">
        <div class="col-md-12">
            <h4>Time tracking Details</h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-striped">
                    <thead>
                        <th>Project id</th>
                        <th>Task Name</th>
                        <th>Time Entry Description</th>
                        <th>Duration</th>
                        <th>Start Timer</th>
                        <th>Edit Entry</th>
                    </thead>
                    <tbody>
                        {{#each valuesss}}
                        <tr>
                            <td>{{this.project_id}}</td>
                            <td>{{this.task_name}}</td>
                            <td>{{this.note}}</td>
                            <td>{{this.duration}}</td>
                            <td>{{#ifEquals start_time "00:00:00"}}
                                <button type="button" class="btn btn-success" onclick="startTimer({{this.entry_id}})">Start</button>
                                {{else}}
                                <button type="button" class="btn btn-danger" data-id = "{{this.entry_id}}" data-duration="{{this.duration}}" data-time="{{this.start_time}}" onclick="stopTimer(this)">Stop</button>
                                {{/ifEquals}}
                            </td>
                            <td>
                               <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button class="open-EditTaskEntry btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#editTaskEntry" 
                                    data-id="{{this.entry_id}}" 
                                    data-task_id="{{this.task_id}}" 
                                    data-duration="{{this.duration}}" 
                                    data-note="{{this.note}}" 
                                    data-start_time="{{this.start_time}}"><span class="glyphicon glyphicon-pencil"></span></button>
                                </p>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <span>The total Duration in seconds is </span> <STRONG> {{totalDuration}}</STRONG> 
        </div>
    </div>
    <a id="add_row" class="btn btn-default pull-left" href="/addtaskentry">Add Task Entry</a>
</div>
<div class="modal fade" id="editTaskEntry" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label>Duration</label>
                    <input class="form-control" id='duration' type="text" placeholder="Duration" value="">
                </div>
                <div class="form-group">
                  <label> Description of entry</label>
                    <input class="form-control" id='note' type="text" placeholder="note" value="">
                </div>
                <div class="form-group">
                  <label> start Time</label>
                    <input class="form-control" id='start_time' type="time" placeholder="start_time" value="">
                </div>
                <div class="form-group" style="display:none;">
                    <input class="form-control " id="id" type="text" placeholder="id" value="">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="submitUpdate btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>